<div class="col-xs-10 col-xs-offset-1">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://fcontreras18.github.io">Francisco</a>. A web developer on a mission to learn more about BJJ, coding, and life hacks.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'francisco.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Francisco Echeverria</h2>
    <br />
      <p>
      Francisco Echeverria is a web developer. An Oakland, California native. Former ERAC/First Republic Bank/Contreras Market employee. Brazilian Jiu Jitsu practioner, triathlete, and hiker.
      </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />